.form-group {
    position: relative;
    margin-bottom: 10px;
    label {
        @include form-label($text-primary);
        font-size: 1em;
    }
    .input-group{
        position: relative;
        input {
            @include form-input(#FFF, $color-bg, $text-primary);
        }
        .invalid-tooltip {
            @include tooltip($color-danger);
        }
    }
    span.show-password {
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: $color-bg;
        cursor: pointer;
        svg {
            height: 1.8em;
            width: auto;
            color: $color-primary;
        }
    }
}

.form-inline-group {
    position: relative;
    margin-bottom: 10px;
    label {
        @include form-label($text-primary);
        font-size: 1em;
        max-width: 50%;
    }
    input {
        @include form-input(#FFF, $color-bg, $text-primary);
        max-width: 50%;
    }
    select {
        @include form-select(#FFF, $color-bg, $text-primary);
        max-width: 50%;
        &.empty-select {
            color: $text-muted;
            font-style: italic;
        }
    }
    .invalid-tooltip {
        @include tooltip($color-danger);
        right: 0px;
        top: 15px;
    }
}