/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    text-align: center; /* Centered text */
    border-radius: 10px; /* Rounded borders */
    padding: 0px 10px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 99; /* Add a z-index if needed */
    right: 30px; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */

    .snackbar-container {
        display: flex;
        align-items: center;
        padding: 5px;
        p {
            margin: 10px;
            font-size: 1em;
            font-weight: 500;
        }
    }

    &.info {
        color: $text-white;
        background-color: $color-info;
    }

    &.error {
        background-color: $color-danger;
        color: $text-white;
    }

    &.success {
        background-color: $color-success;
        color: $text-white;
    }

    &.warning {
        background-color: $color-warning;
        color: $text-white;
    }

    &.hide {
        display: none;
        visibility: hidden;
    }
  
    /* Show the snackbar when clicking on a button (class added with JavaScript) */
    &.show {
        display: block;
        visibility: visible; /* Show the snackbar */
        /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
        However, delay the fade out process for 2.5 seconds */
        -webkit-animation: slide_up 0.5s;
        animation: slide_up 0.5s;
    }
    
    /* Animations to fade the snackbar in and out */
    @keyframes slide_up {
        from {
          opacity: 0;
          transform: translateX(3rem);
        }
        to {
          opacity: 1;
          transform: translateX(0);
        }
    }
}