div#auth-view {
    // @include flex-container($justify:flex-start, $items:center);
    height: 100%;
    .custom-auth-container{
        @include flex-container($direction: column, $justify: space-between, $items: center);
        height: 100%;
        div.custom-auth-header {
            text-align: center;
            padding-bottom: 20px;
        }
        div.custom-auth-content {
            overflow: scroll;
            width: 100%;
            max-width: 500px;
            .custom-pw-container {
                position: relative;
                .custom-show-pw-button {
                    top: 0px;
                    right: 0px;
                    position: absolute;
                }
            }
        }
        .custom-submit-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 10px 0px;
            button.custom-submit-btn {
                min-width: $submit-btn-min-with;
            }
        }
    }
    .custom-side-container{
        background-color: $color-bg;
        height: 100%;
        overflow: scroll;
    }
}