div#auth-view {
    .custom-app-logo {
        text-align: center;
        padding-bottom: 20px;
    }
    // @include flex-container($justify:flex-start, $items:center);
    height: 100%;
    .custom-form-container{
        @include flex-container($direction: column, $justify: space-between, $items: center);
        height: 100%;
        padding: 1rem;
        div.custom-login-form {
            overflow: scroll;
            .custom-pw-container {
                position: relative;
                .custom-show-pw-button {
                    top: 0px;
                    right: 0px;
                    position: absolute;
                }
            }
        }
        .custom-submit-container {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 20px 0px;
            button.custom-submit-btn {
                min-width: $submit-btn-min-with;
            }
        }
    }
    .custom-side-container{
        background-color: $color-bg;
        height: 100%;
        overflow: scroll;
    }
}