/*Mixins*/
@mixin flex-container ($direction:row, $wrap:nowrap, $justify:flex-start, $items:stretch) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
    align-items: $items;
}

@mixin flex-item ($order:0, $grow:0, $shrink:1, $basis:auto, $align:auto) {
    order: $order;
    flex-grow: $grow;
    flex-shrink: $shrink;
    flex-basis: $basis;
    align-self: $align;
}

@mixin burger-menu($main-color: $color-primary) {
    border: 1px solid $main-color;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
        outline: none;
        background-color: darken($color: $main-color, $amount: 5%);
        box-shadow: 0px 0px 6px $main-color;
    }
    div {
        width: 35px;
        height: 5px;
        background-color: $main-color;
        margin: 6px 0;
        border-radius: 20px;
      }
}

@mixin form-input ($bg-color, $shadow-color, $text-color) {
    padding: 8px;
    font-size: 1em;
    border: 1px solid lighten($color: $text-primary, $amount: 50%);
    border-radius: 5px;
    color: $text-color;
    background-color: $bg-color;
    width: 100%;
    font-weight: normal;
    // box-shadow: 0px 5px 10px -2px lighten($color: $shadow-color, $amount: 10%);
    &:focus {
        outline: none;
        box-shadow: 0px 0px 1px 1px $color-primary;
        color: $text-color;
    }
    &::placeholder {
        color: lighten($color: $text-color, $amount: 30%);
        font-weight: 400;
    }
    &.invalid {
        border: 1px solid $color-danger;
        color: $color-danger;
        &::placeholder {
            color: lighten($color: $color-danger, $amount: 10%);
        }
    }
    &:disabled {
        cursor: not-allowed;
        background-color: $shadow-color;
        color: $text-muted;
    }
}

@mixin form-select ($bg-color, $shadow-color, $text-color) {
    padding: 8px;
    font-size: 1em;
    border: 1px solid lighten($color: $text-primary, $amount: 50%);
    border-radius: 5px;
    color: $text-color;
    background-color: $bg-color;
    font-weight: normal;
    // box-shadow: 0px 5px 10px -2px lighten($color: $shadow-color, $amount: 10%);
    &:focus {
        outline: none;
        box-shadow: 0px 0px 1px 1px $color-primary;
        color: $text-color;
    }
    &::placeholder {
        color: lighten($color: $text-color, $amount: 30%);
        font-weight: 400;
    }
    &.invalid {
        border: 1px solid $color-danger;
        color: $color-danger;
        &::placeholder {
            color: lighten($color: $color-danger, $amount: 10%);
        }
    }
}

@mixin form-label($text-color) {
    color: $text-color;
    font-size: 0.875em; /* 14/16 = 0.875*/
    margin: 10px;
    display: inline-block;
    font-weight: normal;
    cursor: default;
}

@mixin tooltip($context-color) {
    display: none;
    font-size: 0.75em; /* 12/16 = 0.875*/
    font-weight: 600;
    position: absolute;
    color: $text-white;
    background-color: $context-color;
    padding: 6px;
    border-radius: 5px;
    max-width: 50%;
    text-align: center;
    z-index: 100;
    bottom: 60px;
    right: 0px;
    // bottom: 10%;
    // box-shadow: 0px 0px 0.5px 0.5px lighten($color: $context-color, $amount: 10%);
    &.invalid {
        display: block;
    }
    &::after{
        content: "";
        position: absolute;
        top: 100%;
        left: 80%;
        margin-left: -6px;
        border-width: 6px;
        border-style: solid;
        border-color: $context-color transparent transparent transparent;
    }
}

@mixin btn-filled($main-color) {
    background-color: $main-color;
    color: #fff;
    border: none;
    &:hover {
        background-color: darken($color: $main-color, $amount: 15%);
        color: #fff;
    };
    &:focus {
        outline: none;
        background-color: darken($color: $main-color, $amount: 10%);
        box-shadow: 0px 0px 6px $main-color;
    };
    &:disabled {
        background-color: lighten($color: $main-color, $amount: 10%);
        cursor: default;
        pointer-events: none;
    }
}

@mixin btn-outline($main-color) {
    border: 1px solid $main-color;
    background-color: rgba($color: $main-color, $alpha: 0);
    color: $main-color;
    &:hover {
        background-color: rgba($color: $main-color, $alpha: 1.0);
        color: #fff;
        border-color: #fff;
    };
    &:focus {
        outline: none;
        box-shadow: 0px 0px 6px $main-color;
    };
    &:disabled {
        background-color: #fff;
        color: $color-bg;
        border: 1px solid $color-bg;
        pointer-events: none;
    }
}

@mixin btn-link($main-color) {
    color: $main-color;
    border: none;
    background-color: transparent;
    text-decoration: none;
    cursor: pointer;
    &:focus {
        outline: none;
    };
    &:hover {
        color: darken($color: $main-color, $amount: 20%);
        text-decoration: underline;
        text-decoration-thickness: 1xp;
    };
    &:disabled {
        color: $color-bg;
        pointer-events: none;
    }
}

@mixin grid-container ($column, $row, $gap: 20px) {
    display: grid;
    grid-gap: $gap;
    grid-template-columns: repeat($column, 1fr);
    grid-template-rows: repeat($row, 1fr);
}