@import 'vars';
@import 'mixins';

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: $main-font-stack;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
}

#root, #app-wrapper {
    height: 100%;
}

//components
// @import "./components/buttons";
@import "./components/form";
@import "./components/snackbar";
//partials
@import "./partials/signin";
//bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap.scss";